.shopping-cart {
  padding-top: 30px;
  background-color: #f2f3f4;
  padding-bottom: 30px;
}
.content {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 1360px) {
  .content {
    max-width: 1356px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1359px) {
  .content {
    max-width: 1272px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .content {
    max-width: 768px;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .content {
    max-width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.cart {
  width: 100%;
  display: flex;
}

.products-cart {
  width: calc(100% / 1.5);
}
.products-cart > div,
.product-cart > div,
.sales-cart > div {
  width: 100%;
}

.sales-cart {
  width: 100% - calc(100% / 1.5);
  padding-left: 15px;
}

.product-cart-chat {
  padding: 0.6rem 0.7rem;

  &:hover {
    border-radius: 8px;
    background-color: #f2f3f4;
    border-color: #f2f3f4;
  }
}

.product-cart-btn {
  background: transparent;
  border: 1px;
}
.product-cart-btn > span {
  font-weight: 600;
  margin-left: 10px;
}

.product-image-item {
  display: flex;
  align-items: center;
}
.product-check-box {
  margin-right: 0.8rem;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 24px;
  padding-right: 2rem;
  position: relative;
  transition: all 0.25s ease;
}
.product-check-box > svg {
  color: #6f787e;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.product-check-box > input {
}

.product-item-main {
  display: flex;
}

.cart-img-product > img {
  width: 80px;
}
.cart-product-1 {
  display: flex;
}

.cart-product-2 {
  display: flex;
}

.button-cart {
  background-color: #e7e8ea;
  border: 1px solid #e7e8ea;
  color: #3f4b53;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
  outline: 0;
  transition: background 0.25s ease, color 0.25s ease;
  &:hover {
    background-color: #f2f3f4;
    border-color: #f2f3f4;
  }
}

.btn-product-num > input {
  background-color: #fff;
  border-color: #cfd2d4;
  color: #3f4b53;
  margin: 0 0.4rem;
  border: 1px solid #cfd2d4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  height: 37px;
  margin: 0 0.4rem;
  outline: 0;
  text-align: center;
  width: 4rem;
  padding-bottom: 6px;
}

.btn-buy-number-sp {
  background-color: #f2f3f4;
  border-color: #f2f3f4;
  color: #000;
  border: 1px solid #e7e8ea;
  padding: 10px;
  font-size: 12px;
  border-radius: 4px;
  &:hover {
    background-color: #f2f3f4;
    border-color: #f2f3f4;
  }
  &:active {
    background-color: #cfd2d4;
    border-color: #cfd2d4;
  }
}

.product-item-sub {
  width: 250px;
}

.product-price-sale {
  width: 150px;
  text-align: center;
}

.button-cart-main {
  display: flex;
  padding: 3px 16px;
}
.button-cart-main > div {
  height: 26px;
  border-radius: 4px;
  &:hover {
    background-color: #cfd2d4;
    border-color: #cfd2d4;
  }
}
.button-cart-icon {
  background-color: transparent;
  border: none;
}

.product-item-sub {
  margin-left: 10px;
}

.product-item-sub-comment {
  padding: 0.2rem;
}

.product-item-sub-comment > span {
  background-color: #e2e6f2;
  border-color: #7182c0;
  color: #133096;
  padding: 1px 9px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

.product-item-sub-cart > a {
  color: #0f1e29;
  font-weight: 500;
}

.sale-of-shop {
  display: flex;
}

.sale-of-shop-cmt {
  display: flex;
  padding-left: 10px;
  padding-top: 2px;
}

.sale-of-shop-main {
  margin-top: 24px;
}

.total-price-product-of-cart {
  display: flex;
}

.total-price-product-of-cart > span {
  margin-left: auto;
  line-height: 52px;
  font-size: 20px;
  color: #ee2624;
  font-weight: 700;
  letter-spacing: 0.015rem;
}
.buy-now {
  padding-left: 5px;
}
.buy-now > button {
  font-weight: 700;
  font-size: 16px;
  padding: 1.5rem 1.6rem;
  width: 100%;
  border: 1px solid #e7e8ea;
  color: #3f4b53;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
  outline: 0;
  transition: background 0.25s ease, color 0.25s ease;
}

.buy-now > button {
  color: #fff;
  background-color: #ee2624;
  &:hover {
    background-color: #f1514f;
    border-color: #f1514f;
  }
}